{% extends 'order_tracker_template.html' %}
        
{% block title %}<title>Dashboard</title>{%endblock%}

    {%block content%}

    <script type="text/javascript">
        function validateForm() {
        var x = document.forms["updated_status"]["updatedStatus"].value;
        if (x == thisOrder.status.tostring()) {
            alert("Please select a different status.");
            return false;
        }
        }
    </script>
        <div class="display">
            <div class="stats">

                <table>
                    <tr>
                        <td class="statlead">Working Orders:</td>
                        <td>{{orderCount}}</td>
                        <td class="statSecond"> Today's New Orders:</td>
                        <td>{{todayOrder}}</td>
                    </tr>
                    <tr>
                        <td class="statlead">Working Revenue:</td>
                        <td>{{subtotalFee}}</td>
                        <td class="statSecond"> Today's New Revenue:</td>
                        <td>{{todaySubTotal}}</td>
                    </tr>
                    <tr>
                        <td class="statlead">Average Fee:</td>
                        <td>{{feeAvg}}</td>
                        <td class="statSecond"> Billed Today:</td>
                        <td>{{compSub}}</td>
                    </tr>
                    <tr>
                        <td class="statlead">Tech Fees:</td>
                        <td>{{techFees}}</td>
                    </tr>
                </table>

            </div>
            <div class="search">
                <h2>Search by Address</h2>
                <form action="search_order" method="post">
                    {% csrf_token %}
                    <input type="text" name="search_address" placeholder="Search Property Address">
                    <button type="submit">Search</button>
                </form>
            </div>
            <div class="errors">
                {% if messages %}
                <ul>
                    {% for message in messages%}
                    <li>{{message}}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            
            <div class="addOrder">
                <h2>Add New Order</h2>
                <form action="add_order" method="post">
                    {% csrf_token %}
                     <input type="hidden" name="user_id" value="{{request.session.user_id}}">
                    <input type="floatformat" name="fee" id="newFee" value=0>
                    <input type="floatformat" name="tech_fee" id="newTechFee" value=0>
                    <input type="text" name="address" id="newAddress" placeholder="Property Address">
                    <select name="product_type" placeholder="Select Product">
                    <option value="" disabled selected>Select Product</option>
                        {% for product in productList %}
                            <option value="{{product.id}}">{{product.FNMA_form}}, {{product.desc}} </option>
                        {% endfor %}
                    </select>
                    <select name="client_ordered">
                    <option value="" disabled selected>Select Client</option>
                        {% for client in clientList %}
                            <option value="{{client.id}}">{{client.name}}</option>
                        {% endfor %}
                    </select>
                    <select name="appraiser_assigned">
                    <option value="" disabled selected>Select Appraiser</option>
                        {% for appraiser in appraiserList %}
                            <option value="{{appraiser.id}}">{{appraiser.name}}</option>
                        {% endfor %}
                    </select>
                    <input type="date" name="due_date" id="dueDate" placeholder="Due Date">
                    <button type="submit">Add</button>
                </form>    
            </div>
            <div class="display">
                <h2>All Open Orders</h2>
                <table>
                    <th>Order Date</th>
                    <th>Fee</th>
                    <th>Tech Fee</th>
                    <th>Address</th>
                    <th>Client</th>
                    <th>Product</th>
                    <th>Appraiser</th>
                    <th>Due Date</th>
                    <th class="align-center">Status</th>
                    <th>Actions</th>
                    {% for thisOrder in orders%}
                        {% if thisOrder.status != "Completed" or "Cancelled" %}
                        <tr>
                            <td>{{thisOrder.created_at|date:"m/d/y"}}</td>
                            <td>{{thisOrder.fee}}</td>
                            <td>{{thisOrder.tech_fee}}</td>
                            <td><a href="order_edit/{{thisOrder.id}}"> {{thisOrder.address}} </a></td>
                            <td>{{thisOrder.client_ordered}}</td>
                            <td>{{thisOrder.product_type}}</td>
                            <td>{{thisOrder.assigned_appraiser}}</td>
                            <td>{{thisOrder.due_date|date:"m/d/y"}}</td>
                            <td class="align-right"> <span>{{thisOrder.status}}</span>
                            
                            <form id="update_status" name="update_status" action="update_status/{{thisOrder.id}}" method="post" onsubmit="return validateForm()">
                                {% csrf_token%}
                                <input type="hidden" name="orderID" value="{{thisOrder.id}}">
                                
                                <select name="updatedStatus" id-"updatedStatus" class="statusSelect">
                                    <option disabled selected>Choose Status</option>
                                    {% for status in statusList %}
                                        {%if status != "Completed" %}
                                        <option value="{{status}}">{{status}}</option>
                                        {%endif%}
                                    {% endfor %}
                                </select>
                                <button type="submit" class="orderAction" id="updateButton" onclick="return validateForm()">Update</button>
                            </form>
                            </td>
                            <td>
                                
                                <a href="order_edit/{{thisOrder.id}}"><button class="orderAction" id="editButton">Edit</button></a>
                                <a href="complete_order/{{thisOrder.id}}"><button class="orderAction">Complete</button></a>
                                {% if thisOrder.status == "Add Order"%}
                                    <span class="errors">**Add</span>
                                {% endif %}
                            </td>
                        </tr>
                        {%endif%}

                    {% endfor %}
                </table>
            </div> 
        </div>   
    {%endblock%}
        
        
    
</body>
</html>