{% extends 'order_tracker_template.html' %}
        
{% block title %}<title>Dashboard</title>{%endblock%}

    {%block content%}

    <script type="text/javascript">
        function confirmComplete() {
        var x = document.forms["user_update"]["user_role"].value;
        if (x == "") {
            alert("Please select a user role.");
            return false;
        }
        }
    </script>
        <div class="display">
            {%if request.session.user_role == "admin"%}
            <div class="stats" id="dash-stats">

                <table>
                    <tr>
                        <td class="statlead">Working Orders:</td>
                        <td>{{orderCount}}</td>
                        <td class="statSecond"> Today's New Orders:</td>
                        <td>{{todayOrder}}</td>
                    </tr>
                    <tr>
                        <td class="statlead">Working Revenue:</td>
                        <td>{{subtotalFee}}</td>
                        <td class="statSecond"> Today's New Revenue:</td>
                        <td>{{todaySubTotal}}</td>
                    </tr>
                    <tr>
                        <td class="statlead">Average Fee:</td>
                        <td>{{feeAvg}}</td>
                        <td class="statSecond"> Billed Today:</td>
                        <td>{{compSub}}</td>
                    </tr>
                    <tr>
                        <td class="statlead">Tech Fees:</td>
                        <td>{{techFees}}</td>
                        <td class="statSecond">Orders Completed This Month:</td>
                        <td>{{numOrdersCompleted}}</td>
                    </tr>
                    <tr>
                        <td class="statlead"># Of Orders To Add:</td>
                        <td>{{ordersToAdd}}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td class="statSecond green">Combined Monthly Revenue:</td>
                        <td>{{combinedRev}}</td>
                    </tr>
                
                </table>

            </div>
            {%endif%}
            {%if request.session.user_role == "regular"%}
            <div class="stats" id="dash-stats">

                <table>
                    <tr>
                        <td class="statlead"> Today's New Orders:</td>
                        <td>{{todayOrder}}</td>
                    </tr>
                    <tr>
                        <td class="statlead"># Of Orders To Add:</td>
                        <td>{{ordersToAdd}}</td>
                    </tr>
                    <tr>
                        <td class="statlead">Working Orders:</td>
                        <td>{{orderCount}}</td>
                    </tr>
                    <tr>
                        <td class="statlead">Orders Completed This Month:</td>
                        <td>{{numOrdersCompleted}}</td>
                    </tr>
                    
                </table>

            </div>
            {%endif%}
            <!-- <div class="volume-tracker">
                <h3>Appraiser Volume Tracker</h3>
                <table>
                    <th>Appraiser</th>
                    <th>Open Orders</th>
                    <th>Next Available Due Date</th>
                    {% for a in appraiserList%}
                        {%if a.name in count_list%}
                            {%for key, value in count_list.items %}
                                {% if key == a.name %}
                                    <tr>
                                        <td>{{a.name}}</td>
                                        <td>{{value.working}}</td>
                                    </tr>
                                {%endif%}
                            {%endfor%}
                        {%endif%}
                    {%endfor%}
                </table>
            </div> -->
            
            <div class="errors">
                {% if messages %}
                <ul>
                    {% for message in messages%}
                    <li>{{message}}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            
            <div class="addOrder">
                <h3>Add New Order</h3>
                <form action="add_order" method="post" class="align-center">
                    {% csrf_token %}
                    
                    <input type="hidden" name="user_id" value="{{request.session.user_id}}">
                    <input type="floatformat" name="fee" id="newFee"  placeholder="Fee">
                    
                    <input type="floatformat" name="tech_fee" id="newTechFee"  placeholder="Tech Fee">
                    <input type="text" name="address" id="newAddress" placeholder="Property Address">
                    <select name="product_type" placeholder="Select Product" class="product-medium">
                    <option value="" disabled selected>Select Product</option>
                        {% for product in productList %}
                            <option value="{{product.id}}">{{product.FNMA_form}}, {{product.desc}} </option>
                        {% endfor %}
                    </select>
                    <select name="client_ordered">
                    <option value="" disabled selected>Select Client</option>
                        {% for client in clientList %}
                            <option value="{{client.id}}">{{client.name}}</option>
                        {% endfor %}
                    </select>
                    <select name="appraiser_assigned">
                    <option value="" disabled selected>Select Appraiser</option>
                        {%if appraiser.status != "Suspended"%}
                            {% for appraiser in appraiserList %}
                                <option value="{{appraiser.id}}">{{appraiser.name}}</option>
                            {% endfor %}
                        {%endif%}
                    </select>
                    <input type="date" name="due_date" id="dueDate" placeholder="Due Date">
                    <button type="submit">Add</button>
                </form>    
            </div>
            <div class="display">
                <h3>All Open Orders</h3>
                <table>
                    <th>Order Date</th>
                    <th>Fee</th>
                    <th>Tech Fee</th>
                    <th>Address</th>
                    <th>Client</th>
                    <th>Product</th>
                    <th>Appraiser</th>
                    <th class="align-center">Due Date</th>
                    <th class="align-center">Status</th>
                    <th>Actions</th>
                    {% for thisOrder in orders%}
                        <tr>
                            <td>{{thisOrder.created_at|date:"m/d/y"}}</td>
                            <td>{{thisOrder.fee}}</td>
                            <td class="align-center">{{thisOrder.tech_fee}}</td>
                            <td class="product-medium" ><a href="order_edit/{{thisOrder.id}}"> {{thisOrder.address}} </a></td>
                            <td class="product-short">{{thisOrder.client_ordered}}</td>
                            <td class="product-short">{{thisOrder.product_type}}</td>
                            <td>{{thisOrder.assigned_appraiser}}</td>
                            <td class="align-center">{{thisOrder.due_date|date:"m/d/y"}}</td>
                            <td class="align-right"> <span>{{thisOrder.status}}</span>
                            
                            <form id="update_status" name="update_status" action="update_status/{{thisOrder.id}}" method="post" onsubmit="return validateForm()">
                                {% csrf_token%}
                                <input type="hidden" name="orderID" value="{{thisOrder.id}}">
                                
                                <select name="updatedStatus" id-"updatedStatus" class="statusSelect">
                                    <option disabled selected>Choose Status</option>
                                    {% for status in statusList %}
                                        {%if status != "Completed" %}
                                        <option value="{{status}}">{{status}}</option>
                                        {%endif%}
                                    {% endfor %}
                                </select>
                                <button type="submit" class="orderAction" id="updateButton" onclick="return validateForm()">Update</button>
                            </form>
                            </td>
                            <td>
                                
                                <a href="complete_order/{{thisOrder.id}}"><button class="orderAction" onclick="return confirm('Are you sure you want to complete this order?');">Complete</button></a>
                                <a href="order_edit/{{thisOrder.id}}"><button class="orderAction" id="editButton">Edit</button></a>
                                {% if thisOrder.status == "Add Order"%}
                                    <span class="errors">**Add</span>
                                {% endif %}
                            </td>
                        </tr>
                        

                    {% endfor %}
                </table>
            </div> 
        </div>   
    {%endblock%}
        
        
    
</body>
</html>
