<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static './css/index.css' %}">

    <link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet">
    <title>Registration & Login Framework</title>
</head>
<body>
    <div class="wrapper">
        <div class="header">
                <img src= "{% static './img/Appraisal-Den-Logos-1.png' %}" alt="Appraisal Den Logo" id="logo">
        </div>
        
            <div class="main">
                <h1>Order Tracking System<h1>
                <h3>Authorized users only.  For access, please contact the administrator.</h3>

                <form action="log_user" method="post">
                    {% csrf_token %}
                    <p>Email:</p>
                    <input type="email" name="email">
                    <p>Password:</p>
                    <input type="password" name="password" id="">
                    <br>
                    <button type="submit">Log In</button>
                </form>
                <div class="errors">
                {% if messages %}
                <ul>
                    {% for message in messages%}
                    <li>{{message}}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                </div>

            </div>
        
    </div>
</body>
</html>