
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static './css/print.css' %}">

    <link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet">
    <title>AD Payroll Report {{appr.name}} / {{pay_period}}</title>
</head>
{% load static %}

<body>

    <div class="main">
        <a href="dashboard"><img src= "{% static './img/Appraisal-Den-Logos-1.png' %}" alt="Appraisal Den Logo" id="logo"></a>
        <h2> Payroll Report for : {{appr.name}} / {{pay_period}}</h2> 
        <div class="align-center"><a href="javascript:history.back()">Back to Company Payroll Reports</a></div>
        <div class="payroll_stats">
            <h3>Appraiser Performance</h3>
            <table class="align-left">
                
                <tr>
                    <td class="statlead">Orders Completed:  </td>
                    <td>{{completed_count}}</td>
                </tr>
                <tr>
                    <td class="statlead">Average Fee:  </td>
                    <td>$ {{avg_fee}}</td>
                </tr>
                
                
            </table>

        </div>
        
        <div class="payroll_stats">
            <h3>Pay Period Breakdown</h3>
            <table class="align-left">
                <tr>
                    <td class="statlead">Total Fee Split</td>
                    <td>$ {{billed}}</td>
                </tr>
                <tr>
                    <td class="statlead">Gas Allowance:</td>
                    <td>$ 200.00</td>
                </tr>
                <tr>
                    <td class="statlead">Health Contribution:</td>
                    <td>$ 175.00</td>
                </tr>
                <tr>
                    <td class="statlead total">Total Pay:</td>
                    <td class="total">$ {{first_total_pay}}</td>
                </tr>
            </table>
                {% if first_total_pay < 4541 %}
                    <p class ="red">Basepay rate not exceeded. Basepay amount of $4,541.67 paid.</p>
                {%endif%}
        </div>
        
        <div class="toptobottom">
            <h2>Pay Period Activity</h2>
            <table class="payroll_display align-left">
                <th>Order Date</th>
                <th>Fee Total</th>
                <th>Tech Fee</th>
                <th>Fee Split</th>
                <th>Address</th>
                <th>Client</th>
                <th>Product</th>
                <th>Appraiser</th>
                <th>Status</th>
                <th>Due Date</th>
                <th>Completed:</th>
                
                {% for thisOrder in pay_period_completed%}
                   
                    <tr>
                        <td>{{thisOrder.created_at|date:"m/d/y"}}</td>
                        <td>{{thisOrder.fee|floatformat:2 }}</td>
                        <td>{{thisOrder.tech_fee|floatformat:2}}
                        <td>{{thisOrder.fee_split_rate|floatformat:2}}</td>
                        <td>{{thisOrder.address}}</td>
                        <td>{{thisOrder.client_ordered}}</td>
                        <td>{{thisOrder.product_type}}</td>
                        <td>{{thisOrder.assigned_appraiser}}</td>
                        <td>{{thisOrder.status}}</td>
                        <td>{{thisOrder.due_date|date:"m/d/y"}}</td>
                        <td>{{thisOrder.completed_date|date:"m/d/y"}}</td>
                        
                    </tr>
                    
                {% endfor %}
            </table>
            
    
    </div>

            

</body>