{%extends "order_tracker_template.html"%}
{%block title%}<title>Payroll Report Generator</title>{%endblock%}

{%block content%}
    <div class="display align-center">
        <h2> Payroll Report Generator</h2>
        <h3>Please select the settings for your payroll report.</h3>
        <form action="run_payroll_report" name="payroll_report" method="post">
        {%csrf_token%}
            <select name="month_selected" id="month_selected" class="">
                <option disabled selected>Choose Month</option>
                {% for key, value in months.items %}
                    <option value="{{key}}">{{value}}</option>
                {% endfor %}
            </select>
            <select name="year_selected" id="year_selected" class="">
                <option disabled selected>Choose Year</option>
                {% for y in years %}
                    {% if y <= thisYear %}
                        <option value="{{y}}">{{y}}</option>
                    {%endif%}
                {% endfor %}
            </select>
            <select name="payroll_period" id="payroll_period" class="">
                <option disabled selected>Choose Period</option>
                <option value="1">1st Period (1st)</option>
                <option value="2">2nd Period (15th)</option>
            </select>
            <select name="appraiser_selected" id="appraiser_selected" class="">
            <option disabled selected>Choose Appraiser</option>
            {% for a in appraisers %}
                <option value="{{a.id}}">{{a.name}}</option>
            {% endfor %}
            </select>
        
            <button type="submit">Submit</button>
        </form>
        <div class="errors">
        {% if messages %}
        <ul>
            {% for message in messages%}
            <li>{{message}}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    </div>

            

{%endblock%}