{%extends "order_tracker_template.html"%}

{%block title%}<title>Sales Report Generator</title>{%endblock%}
{%block content%}
    <div class="align-center">
        <h2 class="reduce_btm_margin">Current Snapshot</h2>
        <a href="./sales_snapshot"><button class="green_button">Get Report</button></a>
    </div>
    <div class="display align-center">
        <h2> Past Sales Report Generator</h2>
        <h3>Please select the dates for your sales report.</h3>
        <form action="run_sales_report" name="sales_report" method="post">
        {%csrf_token%}
            <select name="month_selected" id="month_selected" class="">
                <option disabled selected>Choose Month</option>
                {% for key, value in months.items %}
                    <option value="{{key}}">{{value}}</option>
                {% endfor %}
            </select>
            <select name="year_selected" id="year_selected" class="">
                <option disabled selected>Choose Year</option>
                {% for y in years %}
                    {% if y <= thisYear %}
                        <option value="{{y}}">{{y}}</option>
                    {%endif%}
                {% endfor %}
            </select>
            <button type="submit">Submit</button>
        </form>
        <div class="errors">
        {% if messages %}
        <ul>
            {% for message in messages%}
            <li>{{message}}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    </div>

            

{%endblock%}