{%extends 'order_tracker_template.html' %}
{% block title %}<title>Manage Users</title>{%endblock%}

{%block content%}

<script type="text/javascript">
function validateForm() {
  var x = document.forms["user_update"]["user_role"].value;
  if (x == "") {
    alert("Please select a user role.");
    return false;
  }
}
</script>


    <div class="errors">
        {% if messages %}
        <ul>
            {% for message in messages%}
            <li>{{message}}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    <div class="main">
        <h2>Details for {{user.full_name}}</h2>
        <form action="../process_user_edit/{{user.id}}" class="user_display" id="user_update" name="user_update" method="post" autocomplete="off" onsubmit="return validateForm()">
        {%csrf_token%}
            <table class="order_detail">
                <tr>
                    <td>First Name: </td><td><input type="text" name="first_name" value="{{user.f_name}}"></td>
                </tr>
                <tr>
                    <td>Last Name: </td><td><input type="text" name="last_name" value="{{user.l_name}}"></td>
                </tr>
                <tr>
                    <td>Email: </td><td><input type="email" name="email" value="{{user.email}}"autocomplete="off"></td>
                </tr>
                <tr>
                    <td>User Role: </td>
                    <td>
                        <select name="user_role" selected="{{user.role}}">
                            <option value="" selected>Select Role</option>
                            <option value="admin">Admin</option>
                            <option value="regular">Regular</option>
                            <option value="sales">Sales</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><input type="hidden" value="{{user.id}}" name="userID"></td><td><button type="submit">Submit Edits</button></td>
                </tr>
            </table>

        </form>
    </div>
    <div class="sidebar">
        <a href="{% url 'manage_users'%}">Cancel, Go Back To Users</a>
        <br>
        <br>
        <h3>Update the Password</h3>
        <form action="../change_pw/{{user.id}}" method="post">
        {%csrf_token%}
            <p>New Password: <input type="password" name="password" autocomplete="new-password"></p>
            <p>New Password: <input type="password" name="c_password" autocomplete="new-password"></p>
            <button type="submit">Change Password</button>
        </form>
        <br>
        <br>
        <br>
        <br>
        {%if request.session.user_id != user.id%}
            <h2>Delete User</h2>
            <h3>Caution, this cannot be undone!</h3>
            <a href="../delete_user/{{user.id}}"><button class="delete" onclick="return confirm('Are you sure you want to delete this item?');">Delete User</button></a>
        {%endif%}
    </div>




{%endblock%}